## Senha do usuário root do MySQL
MYSQL_ROOT_PASSWORD=sua_senha_mestra_aqui

# Nome do banco de dados que será criado
MYSQL_DATABASE=frutas_db

# Credenciais do usuário comum da aplicação
MYSQL_USER=frutas_user
MYSQL_PASSWORD=sua_senha_usuario_aqui

# URL de conexão para o SQLAlchemy
DATABASE_URL=mysql+aiomysql://frutas_user:sua_senha_usuario_aqui@db:3306/frutas_db

# Obtenha sua chave em: https://aistudio.google.com/
GEMINI_API_KEY=INSIRA_SUA_CHAVE_AQUI

VITE_API_URL=http://localhost:8000